@import "./color";
@import "./typography";

html,
body {
  margin: 0;
  padding: 0;
  background: #22252b;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.none-enter-active,
.none-leave-active {
  transition: none;
}
.none-enter,
.none-leave-to {
  opacity: 0;
}

a {
  text-decoration: none;
}

@import "./ui-components/hr";
@import "./ui-components/inputs";
