.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 32px;

    border-radius: 8px;
    border: 0;
    outline: none;
    font-size: var(--text-paragraph);
    color: inherit;
    background: var(--color-overlay, var(--color-overlay-light));

    cursor: pointer;

    &.blue {
        color: rgb(var(--color-white));
        background: rgb(var(--color-blue));
        box-shadow: 0px 8px 32px rgba(var(--color-blue), 0.25);
    }
    &.green {
        color: rgb(var(--color-white));
        background: rgb(var(--color-green));
        box-shadow: 0px 8px 32px rgba(var(--color-green), 0.25);
    }

    &.white {
        color: rgb(var(--color-dark-gray));
        background: rgb(var(--color-white));
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.25);
    }
}
