*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: 'Sky of Eden Regular';
    font-style: normal;
    font-weight: normal;
    font-display: block;
    src: local('Sky of Eden Regular'), url('/fonts/Sky_of_Eden-Regular.woff') format('woff');
}
